.Validation{
    margin-top: 70px;
    margin-left: 550px;
    color: #4d9c43;
}

.Validation1{
    margin-top: 70px;
    margin-left: 60 0px;
    color: #4d9c43;
}

.validat{
    margin-top: 200px;
}